<a href="https://colab.research.google.com/github/sagar9926/ImportantConcepts-/blob/master/Python/Python_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise

1.   Create a dictionary whose keys correspond to unique words in a given file and whose values correspond to the number of times each word appears in the file.
2.   To an output file, write the 10 most frequent words in separate lines.
3.   To an output file, write the 5 most frequenct 2-grams in separate lines.

In [0]:
text = """ Unending Love by Rabindranath Tagore

I seem to have loved you in numberless forms, numberless times
In life after life, in age after age, forever.
My spellbound heart has made and remade the necklace of songs,
That you take as a gift, wear round your neck in your many forms,
In life after life, in age after age, forever.

Whenever I hear old chronicles of love, its age-old pain,
Its ancient tale of being apart or together.
As I stare on and on into the past, in the end you emerge,
Clad in the light of a pole-star piercing the darkness of time:
You become an image of what is remembered forever.

You and I have floated here on the stream that brings from the fount.
At the heart of time, love of one for another.
We have played along side millions of lovers, shared in the same
Shy sweetness of meeting, the same distressful tears of farewell-
Old love but in shapes that renew and renew forever.

Today it is heaped at your feet, it has found its end in you
The love of all manâ€™s days both past and forever:
Universal joy, universal sorrow, universal life.
The memories of all loves merging with this one love of ours â€“
And the songs of every poet past and forever."""

In [21]:
len(text.split())

len(lower_text)

220

In [24]:
#Cleaning the data
lower_text = []
cleaned_text = []

for item in text.split():
  item_lower = item.lower()
  lower_text.append(item_lower)

chars_to_replace = ['\n', ',', '-', '"', '(', ')', '.']

for i in range(len(lower_text)):
    for s in chars_to_replace:
        lower_text[i] = lower_text[i].replace(s, ' ')
len(lower_text)

220

In [27]:
text = " ".join(lower_text)
words = text.split()
len(words)

222

In [0]:
word_dict = {}

for word in words:
  if word in word_dict:
    word_dict[word] += 1
  else:
    word_dict[word] = 1

In [37]:
# top 10 occuring words

sorted(word_dict.items(),key = lambda item : item[1],reverse = True)[:10]

[('of', 15),
 ('the', 13),
 ('in', 11),
 ('and', 7),
 ('love', 6),
 ('you', 6),
 ('life', 5),
 ('age', 5),
 ('forever', 5),
 ('i', 4)]

In [0]:
# 3 To an output file, write the 5 most frequenct 2-grams in separate lines.

bi_gram = []
for i in range(1,len(words)):
  tup = (words[i-1],words[i])
  bi_gram.append(tup)

In [0]:
bigram_dict = {}

for bigram in bi_gram:
  if bigram in bigram_dict:
    bigram_dict[bigram] += 1
  else:
    bigram_dict[bigram] = 1

In [54]:
sorted(bigram_dict.items() , key = lambda item : item[1], reverse = True)[:14]

[(('in', 'the'), 3),
 (('love', 'of'), 3),
 (('in', 'life'), 2),
 (('life', 'after'), 2),
 (('after', 'life'), 2),
 (('life', 'in'), 2),
 (('in', 'age'), 2),
 (('age', 'after'), 2),
 (('after', 'age'), 2),
 (('age', 'forever'), 2),
 (('the', 'same'), 2),
 (('of', 'all'), 2),
 (('past', 'and'), 2),
 (('unending', 'love'), 1)]

Exercise : 1.   Create a list of 10 ordered pairs **$(x,y),\ \ x\ \epsilon\ [-6,6]$** such that they satisfy the equation **$x^2+y^2=r^2$** where **$r=6$**

In [65]:
# Basically you have to feed one variable either x or y and calculate the other

r = 6
ordered_pair = []
def f(x):
  return((r**2 - x**2)**0.5)


for x in range(-5,5):
  ordered_pair.append((x,f(x)))

print(ordered_pair)

[(-5, 3.3166247903554), (-4, 4.47213595499958), (-3, 5.196152422706632), (-2, 5.656854249492381), (-1, 5.916079783099616), (0, 6.0), (1, 5.916079783099616), (2, 5.656854249492381), (3, 5.196152422706632), (4, 4.47213595499958)]

2.   We have a list of tuple representing the name and height (in cms) of 5 students respectively. Convert the list into a dictionary so that we can access the student's height from their names. 
> ```data = [('Sumit', 183), ('Rahul', 175), ('Kritika', 170), ('Harshit', 177), ('Deepak', 162)]```

In [67]:
data = [('Sumit', 183), ('Rahul', 175), ('Kritika', 170), ('Harshit', 177), ('Deepak', 162)]

{key:value for key,value in data}

{'Deepak': 162, 'Harshit': 177, 'Kritika': 170, 'Rahul': 175, 'Sumit': 183}

3.   Write a function which takes list of random integers as an input and returns the list all the unique values present in that list. For ex:
>``` 
Input: [1, 2, 4, 4, 3, 2, 1, 1, 2, 4, 5, 3]
Output : [1, 2, 3, 4, 5]
```

In [69]:
Input =  [1, 2, 4, 4, 3, 2, 1, 1, 2, 4, 5, 3]
list(set(Input))

[1, 2, 3, 4, 5]

4.   Write a program to generate a dictionary that contains the number between $1$ and $n$ in the form of $(key : value) = (x : x^2)$ where $n=100$. For ex:
>```
If n = 7 then output will be = {0:0, 1:1, 2:4}

In [70]:
n = 7
{x : x**2 for x in range(1,n+1) if x**2 < n}

{1: 1, 2: 4}